<section data-ng-controller="SurveysController">
    <div class="page-header">
        <h1>New Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name your survey</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                        <label class="control-label" for="q1">Question 1</label>
                        <input type="text" data-ng-model="q1" id="q1" class="form-control" placeholder="Question 1" required>
                        <label class="control-label" for="q2">Question 2</label>
                        <input type="text" data-ng-model="q2" id="q2" class="form-control" placeholder="Question 2" required>
                        <label class="control-label" for="q3">Question 3</label>
                        <input type="text" data-ng-model="q3" id="q3" class="form-control" placeholder="Question 3" required>
                        <label class="control-label" for="q4">Question 4</label>
                        <input type="text" data-ng-model="q4" id="q4" class="form-control" placeholder="Question 4" required>
                        <label class="control-label" for="q5">Question 5</label>
                        <input type="text" data-ng-model="q5" id="q5" class="form-control" placeholder="Question 5" required>
                              
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>