<section data-ng-controller="SurveysController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Survey</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="survey.name" id="name" class="form-control" placeholder="Name" required>
                        <label class="control-label" for="q1">Question 1</label>
                        <input type="text" data-ng-model="survey.q1" id="name" class="form-control" placeholder="Question 1" required>
                        <label class="control-label" for="q2">Question 2</label>
                        <input type="text" data-ng-model="survey.q2" id="name" class="form-control" placeholder="Question 2" required>
                        <label class="control-label" for="q3">Question 3</label>
                        <input type="text" data-ng-model="survey.q3" id="name" class="form-control" placeholder="Question 3" required>
                        <label class="control-label" for="q4">Question 4</label>
                        <input type="text" data-ng-model="survey.q4" id="name" class="form-control" placeholder="Question 4" required>
                        <label class="control-label" for="q5">Question 5</label>
                        <input type="text" data-ng-model="survey.q5" id="name" class="form-control" placeholder="Question 5" required>
                          
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>